body {
  background: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

canvas {
  background: #2b2b2b;
  box-shadow: 0 12px 10px 2px rgba(0, 0, 0, .14), 0 6px 10px 5px rgba(0, 0, 0, .12), 0 8px 8px -4px rgba(0, 0, 0, .2);
  outline: 20px dashed transparent;
  box-sizing: border-box;
  width: 700px;
  height: 700px;
}

.drag-target {
  outline-color: green;
  transition: 0.3s;
}

.arrow {
  font-size: 70px;
  color: #fff;
  letter-spacing: -25px;
}